<h1>Trainers</h1>

{{!-- READ Trainers Table --}}
<table id="classes_table" border="1" cellpadding="5">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Specialization</th>
            <th>Hourly Rate</th>
        </tr>
    </thead>

    <tbody>
        {{!-- For each row, print the id, first_name, last_name, specialization, and hourly_rate --}}
        {{#each trainers}}
        <tr>
            <td>{{this.trainer_id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.specialization}}</td>
            <td>{{this.hourly_rate}}</td>

            <td>
                {{!-- DELETE Trainer Form--}}
                <form class="delete_trainer_form" action="/delete_trainer" method="POST">
                    <input type="hidden" name="delete_trainer_id" value="{{this.trainer_id}}" />
                    <input type="hidden" name="delete_trainer_name" value="{{this.first_name}} {{this.last_name}}" />
                    <input type="submit" value="Delete" class="btn-reset" onclick="return confirm('Remove this trainer?')">
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- CREATE Trainer Form --}}
<h2>Add a Trainer</h2>
<form id="create_trainer_form" action="/trainers/create" method="POST">
    <label for="create_trainer_first_name">First Name: </label>
    <input type="text" name="create_trainer_first_name" id="create_trainer_first_name" required />

    <label for="create_trainer_last_name">Last Name: </label>
    <input type="text" name="create_trainer_last_name" id="create_trainer_last_name" required />

    <label for="create_trainer_specialization">Specialization: </label>
    <select name="create_trainer_specialization" id="create_trainer_specialization" required>
        <option value="" disabled selected>Select a Specialization: </option>
        <option value="HIIT">HIIT</option>
        <option value="Spinning">Spinning</option>
        <option value="Barre and Pilates">Barre and Pilates</option>
        <option value="Yoga">Yoga</option>
        <option value="Strength Training">Strength Training</option>
        <option value="Weight Loss">Weight Loss</option>
        <option value="Pre and Post-Natal">Pre and Post-Natal</option>
        <option value="Nutrition">Nutrition</option>
    </select>

    <label for="create_trainer_hourly_rate">Hourly Rate: </label>
    <input type="number" name="create_trainer_hourly_rate" id="create_trainer_hourly_rate" min="0" step="0.01" placeholder="0.00" required />

    <button type="submit">Add Trainer</button>
</form>

{{!-- UPDATE Trainer Form --}}
<h2>Update a Trainer</h2>
<form id="update_trainer_form" action="/trainers/update" method="POST">
    <label for="update_trainer_id">Trainer to Update: </label>
    <select name="update_trainer_id" id="update_trainer_id" required>
        <option value="" disabled selected>Select a Trainer: </option>
        {{#each trainers}}
        <option value="{{this.trainer_id}}" >
            {{this.trainer_id}}
            -
            {{this.first_name}}
            {{this.last_name}}
        </option>
        {{/each}}
    </select>

    <label for="update_trainer_first_name">First Name: </label>
    <input type="text" name="update_trainer_first_name" id="update_trainer_first_name" />

    <label for="update_trainer_last_name">Last Name: </label>
    <input type="text" name="update_trainer_last_name" id="update_trainer_last_name" />

    <label for="update_trainer_specialization">Specialization: </label>
    <select name="update_trainer_specialization" id="update_trainer_specialization">
        <option value="" disabled selected>Select a Specialization: </option>
        <option value="HIIT">HIIT</option>
        <option value="Spinning">Spinning</option>
        <option value="Barre and Pilates">Barre and Pilates</option>
        <option value="Yoga">Yoga</option>
        <option value="Strength Training">Strength Training</option>
        <option value="Weight Loss">Weight Loss</option>
        <option value="Pre and Post-Natal">Pre and Post-Natal</option>
        <option value="Nutrition">Nutrition</option>
    </select>

    <label for="update_trainer_hourly_rate">Hourly Rate: </label>
    <input type="number" name="update_trainer_hourly_rate" id="update_trainer_hourly_rate" min="0" step="0.01" placeholder="0.00" />

    <button type="submit">Update Trainer</button>
</form>
